* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-header {
  width: 100%;
  background: #2ddf5c;
  position: fixed;
  padding: 8px 16px;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  height: 22px;
  width: 22px;
  display: inline-block;
}

.main-header__brand > img {
  height: 100%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 75px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #0e4f1f;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a {
  color: white;
  background-color: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background-color: white;
  border: none;
}
.main-footer {
  background-color: black;
  padding: 32px;
  margin-top: 48px;
}
.main-footer_items {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.main-footer_item {
  display: inline-block;
  margin: 0 16px;
}
.main-footer_item a {
  color: white;
  text-decoration: none;
}

.main-footer_item a:hover,
.main-footer_item a:active {
  color: #ccc;
}

.button {
  color: white;
  background-color: #0e4f1f;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  color: #0e4f1f;
  background-color: white;
}
